<div class="row">
  <div class="col">
    <ng-container *ngIf="ticketList">
      <div *ngFor="let item of displayList" class="card mb-3">
        <div class="card-header bg-dark text-light d-flex justify-content-between">
          <div>
            <h6 class="my-auto"><span [class]="item.badgeClass"
                                      class="badge">{{item.ticket.status}}</span> {{item.ticket.title}}</h6>
          </div>
          <div class="d-inline-block">{{item.ticket.timestamp | date:'short'}}</div>
        </div>
        <div class="card-body">
          <div class="card-text mb-3">
            {{item.ticket.content}}
          </div>
          <div>
            Created by: {{item.ticket.created_by.name}} {{item.ticket.created_by.surname}}
          </div>
        </div>
        <div class="card-footer text-right">
          <a [routerLink]="['/tickets', item.ticket.id ]" class="btn btn-primary">
            View details
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
